extends layout

block content
  h1= title
  form(id='ElephantForm', action="/resource/elephants", method="POST")
    div.form-group
      label.elephantAttr(for='elephant_Habitat') Elephant Habitat
      input#elephant_Habitat(type='text', name='elephant_Habitat')
    div.form-group
      label.elephantAttr(for='elephant_Weight') Elephant Weight
      input#elephant_Weight(type='number', name='elephant_Weight')
    div.form-group
      label.elephantAttr(for='elephant_Lifespan') Elephant Lifespan
      input#elephant_Lifespan(type='text', name='elephant_Lifespan')
    div.form-group
      label.elephantAttr(for='elephant_TuskLength') Elephant TuskLength
      input#elephant_TuskLength(type='number', name='elephant_TuskLength')
    input(type="submit")
    script.
      document.forms['ElephantForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that the form is being submitted
        fetch(event.target.action, {
          method: 'POST',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Save succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Save failed " + error);
        });
      });
